name = "ocr-processing"
main = ".output/server/index.mjs"
workers_dev = true
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[site]
bucket = ".output/public"

[build]
command = "NITRO_PRESET=cloudflare-pages nuxt build"